@import "tailwindcss";

.font-livvic {
  font-family: "Livvic", sans-serif;
}

.font-figtree {
  font-family: "Figtree", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0px) scaleX(-1) scale(1.5);
  }

  50% {
    transform: translateY(-20px) scaleX(-1) scale(1.5);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}