---
import Hero from "../components/Hero.astro";
import MeowFeatures from "../components/MeowFeatures.astro";
import ScreenFeatures from "../components/ScreenFeatures.astro";
import Layout from "../layouts/Layout.astro";
import NFTSection from "../components/NFTSections.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <section class="scroll-snap-section">
    <Hero />
  </section>
  <section class="scroll-snap-section">
    <MeowFeatures />
  </section>
  <section class="scroll-snap-section">
    <ScreenFeatures />
  </section>
  <section class="scroll-snap-section">
    <NFTSection />
  </section>
  <section class="footer-section">
    <Footer />
  </section>
</Layout>
