---
import logo from "@/assets/purro-logo.png";
import twitter from "@/assets/xIcon.svg";
import telegram from "@/assets/teleIcon.svg";
import discord from "@/assets/discordIcon.svg";
---

<div class="relative bg-gradient-to-b from-[#021919] to-[#081919]">
  <div class="container max-w-7xl mx-auto text-white py-20 px-4 h-full">
    <div class="flex flex-col md:flex-row justify-between scroll-animate">
      <img
        src={logo.src}
        alt="logo"
        class="w-fit h-7 scroll-animate-left delay-200 mb-10 md:mb-0"
      />
      <div class="space-y-6 scroll-animate-right delay-300">
        <p>
          Follow us for the lastest airdrops, updates, Web3 drama, spicy
          memes... and the occasional cat pic.
        </p>
        <div class="flex items-center">
          <a href="https://x.com/purro_xyz" target="_blank">
            <img
              src={twitter.src}
              alt="twitter"
              class="h-5 md:h-7 pr-4 border-r border-white"
            />
          </a>
          <a href="https://x.com/purro_xyz" target="_blank">
            <img
              src={telegram.src}
              alt="twitter"
              class="h-5 md:h-7 px-4 border-r border-white"
            />
          </a>
          <a href="https://x.com/purro_xyz" target="_blank">
            <img
              src={discord.src}
              alt="twitter"
              class="h-5 md:h-7 px-4 border-r border-white"
            />
          </a>
          <a
            href="https://docs.purro.xyz"
            target="_blank"
            class="h-5 md:h-7 px-4"
          >
            DOCUMENTATION
          </a>
        </div>
      </div>
    </div>
    <div class="text-left mt-28 scroll-animate delay-400">
      © {new Date().getFullYear()} Purro. All rights reserved.
    </div>
  </div>
</div>
