---
import chrome from "../assets/chrome.png";
import Button from "./Button";
import Header from "./Header.astro";
import AuroraBg from "./AuroraBg";
---

<div class="w-full h-screen overflow-hidden relative">
  <Header />

  <div class="w-full h-full bg-[#081919] z-[-2] absolute top-0 left-0">
    <AuroraBg client:load />
  </div>

  <!-- <img
    src={background.src}
    alt="background"
    class="absolute w-full h-full object-cover z-[-1]"
    fetchpriority="high"
  /> -->

  <div class="container mx-auto relative">
    <div class="flex flex-col items-center justify-center h-screen">
      <div class="scroll-animate text-center">
        <img
          src="/Purro_Logotype_White.png"
          alt="logo"
          class="w-4/5 max-w-xl md:w-full md:max-w-2xl mx-auto"
        />
        <p
          class="font-figtree font-medium text-white text-xl sm:text-3xl md:text-5xl leading-tight md:leading-tight"
        >
          Built to chill&nbsp;&mdash;&nbsp;Ready to win
        </p>
      </div>

      <div
        class="absolute bottom-8 flex flex-col items-center scroll-animate delay-500"
      >
        <div class="scroll-animate delay-300">
          <Button
            isToast={true}
            toastMessage="Coming soon"
            client:load
            className="bg-white hover:bg-white/80"
          >
            <img src={chrome.src} alt="chrome" class="h-8 md:h-10" />
            <span>Download for Chrome</span>
          </Button>
        </div>

        <!-- <p
          class="max-w-2xl text-center text-sm md:text-md font-light mt-5 text-[#b1cac4]"
        >
          Built for real onchain grinders: smooth UX, unified assets. <br />
          40% fees come back to you.
        </p> -->
      </div>
    </div>
  </div>
</div>
