---
import BentoCardGroup from "./BentoCardGroup";
import Body from "@/assets/Body.png";
---

<div
  class="min-h-screen bg-gradient-to-b from-[#021919] via-[#163737] to-[#005b4a] relative py-32"
>
  <div
    class="container max-w-7xl mx-auto py-20 px-4 flex flex-col items-center justify-center min-h-screen"
  >
    <div class="w-full flex flex-col items-center text-center">
      <div class="scroll-animate">
        <h2
          class="text-3xl md:text-5xl text-center text-white whitespace-nowrap font-semibold"
        >
          The purr-fect crypto companion <br /> for smart traders
        </h2>
        <p class="mt-2 text-sm md:text-lg text-center text-white">
          Cat hate complexity. You to doo. Purro gets it.
        </p>
      </div>

      <div class="scroll-animate delay-200 mt-22 w-full flex justify-center">
        <BentoCardGroup client:load />
      </div>
    </div>

    <div
      class="pointer-events-none absolute right-0 top-48 w-[25%] md:w-[30%] lg:w-[22%] flex justify-center items-end"
      style="z-index: 2;"
    >
      <div
        class="relative w-full max-w-[10rem] md:max-w-[10rem] lg:max-w-[14rem] xl:max-w-[18rem]"
      >
        <img
          id="purro-body"
          src={Body.src}
          alt="Purro Body"
          class="w-full h-auto max-w-full
          [transform:scaleX(-1)]
          animate-bounce-slow"
        />
      </div>
    </div>
  </div>
</div>
