---
import nft1 from "@/assets/nfts/1.png";
import nft2 from "@/assets/nfts/2.png";
import nft3 from "@/assets/nfts/3.png";
import nft4 from "@/assets/nfts/4.png";
import nft5 from "@/assets/nfts/5.png";
import nft6 from "@/assets/nfts/6.png";
import nft7 from "@/assets/nfts/7.png";
import nft8 from "@/assets/nfts/8.png";
import nft9 from "@/assets/nfts/9.png";
import nft10 from "@/assets/nfts/10.png";
import nft11 from "@/assets/nfts/11.png";
import nft12 from "@/assets/nfts/12.png";
import Button from "./Button";
import NFTCarousel from "./NFTCarousel";
---

<div class="min-h-screen relative bg-[#f1f7f6]">
  <div class="container max-w-7xl mx-auto py-20 flex flex-col md:flex-row items-center gap-8">
    <div class="w-full md:w-1/2">
      <h2 class="text-lg md:text-6xl mb-5 text-[#005b4a] leading-[1.2] scroll-animate whitespace-nowrap">
        Limited NFT Collection <br /> for Early Users
      </h2>
      <p class="text-lg md:text-[1.3rem] mb-20 leading-relaxed">
        Claim your 1st NFT and join the exclusive community <br/>
        of Purro pioneers. Each NFT grants special privileges<br/>
        and early access to premium features.
      </p>
      <Button 
        isToast={true} 
        toastMessage="Coming soon" 
        client:load 
        className="px-8 py-4 text-lg md:text-xl mb-30"
      >
        Claim now!
      </Button>
    </div>

    <div class="w-full md:w-1/2">
      <div class="relative">
        <NFTCarousel 
          nfts={[nft1, nft2, nft3, nft4, nft5, nft6, nft7, nft8, nft9, nft10, nft11, nft12]} 
          client:load 
        />
      </div>
    </div>
  </div>
</div>
