---
import hyperliquid from "@/assets/hyperliquid-logo-green.svg";
import Carousel from "./Carousel";
import screenshot1 from "@/assets/screenshots/1.png";
import screenshot2 from "@/assets/screenshots/2.png";
import screenshot3 from "@/assets/screenshots/3.png";
import screenshot4 from "@/assets/screenshots/4.png";
import screenshot5 from "@/assets/screenshots/5.png";
import screenshot6 from "@/assets/screenshots/6.png";
---

<div
  class="min-h-screen bg-gradient-to-b from-[#005b4a] via-[#03503c] to-[#033b32] relative overflow-hidden md:py-32"
>
  <div
    class="container max-w-7xl mx-auto py-20 px-4 flex flex-col md:flex-row items-center min-h-screen overflow-hidden"
  >
    <div class="w-full md:w-1/2 flex flex-col justify-center">
      <div class="scroll-animate-left mb-15 md:mb-90">
        <h2
          class="text-3xl md:text-5xl text-center md:text-left text-white font-semibold"
        >
          Trade smarter, not harder.
        </h2>
        <p class="mt-2 text-sm md:text-lg text-center md:text-left text-white">
          No switching tabs, no missing fees. <br />
          Just clean UX, and all your assets in one view.
        </p>
      </div>

      <div class="scroll-animate-left delay-200 lg:mt-25 mt-0 md:mb-15">
        <p class="text-base md:text-lg text-center md:text-left text-white">
          Build on
        </p>
        <div
          class="flex gap-4 md:gap-6 h-6 md:h-8 items-end mt-4 justify-center md:justify-start"
        >
          <img src={hyperliquid.src} alt="Hyperliquid" class="h-full" />
        </div>
      </div>
    </div>

    <div
      class="w-full md:w-1/2 flex justify-center md:justify-end items-center mt-10"
    >
      <div class="scroll-animate-right delay-100">
        <Carousel
          images={[
            { src: screenshot1.src, alt: "Login" },
            { src: screenshot2.src, alt: "Another" },
            { src: screenshot3.src, alt: "Another" },
            { src: screenshot4.src, alt: "Another" },
            { src: screenshot5.src, alt: "Another" },
            { src: screenshot6.src, alt: "Another" },
          ]}
          baseWidth={375}
          height={550}
          fit="contain"
          autoplay
          loop
          client:load
        />
      </div>
    </div>
  </div>
</div>
